/* tirado da net*/
.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: auto;
    font-size: 24px;
  }
  
  .nav a {
    flex: 1 1 auto;
    text-align: center;
  }
  
  
  .nav a {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .nav a#atual{
    background-color: #fff;
    font-weight: 600;
  }

  a{
    text-decoration: none;
  }